name: Deployment Multiplayer App

on:
  push:
    branches:
      - deployment

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.2.1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2294
          script: |
              # 1️⃣ Go to project directory
              cd /root/multiplayer-backend/multiplayer-game-app-g2wins || exit 1
              
              # 2️⃣ Ensure we are on deployment branch
              git checkout deployment
              
              # 3️⃣ Pull latest changes
              git pull origin deployment
              
              # 4️⃣ Install dependencies
              npm install
              
              # 5️⃣ Restart PM2
              pm2 restart multiplayer-app
              
              echo "===== Deployment Completed ====="
